body {
  background-color: #4d5551;
  color: rgb(255, 255, 255);
}

.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {
  flex: 1;
  padding: 10px;
}