.title {
    text-align: center;
    margin: 20px auto;
  }
  
  .form {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
    color: #000;
  }
  
  .inputSize {
    margin: 5px 5px 15px 5px;
    padding: 8px;
    border: 1px solid #020202;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.507);
    font-size: 15px;
  }
  
  .errorMessage {
    text-align: center;
    margin: 10px auto;
    padding: 10px;
    max-width: 380px;
    background-color: rgba(227, 80, 80, 0.93);
    border: 1px solid rgb(3, 3, 3);
    box-shadow: 2px 2px 4px 0 rgba(105, 1, 1, 0.363);
    border-radius: 8px;
  }